platform/msvc/libdata
platform/msvc/libedit
platform/msvc/libgui
platform/msvc/libmath
platform/msvc/libmsg
platform/msvc/libphysics
platform/msvc/librender
platform/msvc/libtool
platform/msvc/libview
