platform/msvc2008/libdata
platform/msvc2008/libedit
platform/msvc2008/libgui
platform/msvc2008/libmath
platform/msvc2008/libmsg
platform/msvc2008/libphysics
platform/msvc2008/librender
platform/msvc2008/libtool
platform/msvc2008/libview
