[submodule "editor-external"]
	path = editor-external
	url = ssh://tea.ejoy.com:3222/zz/external.git
[submodule "particle/src"]
	path = particle/src
	url = ssh://tea.ejoy.com:3222/LR/ps.git
[submodule "dtex/src"]
	path = dtex/src
	url = ssh://tea.ejoy.com:3222/LR/dtex.git
[submodule "gtxt/src/gtxt"]
	path = gtxt/src/gtxt
	url = ssh://tea.ejoy.com:3222/LR/gtxt.git
[submodule "rapidvg/src/rapidvg"]
	path = rapidvg/src/rapidvg
	url = ssh://tea.ejoy.com:3222/LR/RapidVG.git
[submodule "shaderlab/src/shaderlab"]
	path = shaderlab/src/shaderlab
	url = ssh://tea.ejoy.com:3222/LR/ShaderLab.git
[submodule "ds/src/ds"]
	path = ds/src/ds
	url = ssh://tea.ejoy.com:3222/LR/ds.git
[submodule "model3/src/model3"]
	path = model3/src/model3
	url = ssh://tea.ejoy.com:3222/LR/model3.git
[submodule "sm/src/sm"]
	path = sm/src/sm
	url = git@github.com:xzrunner/sm.git
[submodule "camera25/src/camera25"]
	path = camera25/src/camera25
	url = ssh://tea.ejoy.com:3222/LR/camera25.git
