*.so
*.o
*~
*.swp
*.pyc
*.user
*.ncb
*.suo
*.idb
*.pdb
*.obj
*.gif
*.html
*_history.json
*.easy
*.epp
*.epd
*.ep
deprecated
.svn

/sg_lowlow/data
/sg_other/data
/sg_loading_mmzb/data
/characters_import/characters2*
/scene_import/build
/scene_import/data
/scene_import/script/tpack.py

/background_import/data
/coc_png
/checker/data
/checker/output

/misc_import/data

/sg_building/output
/sg_building/other
/sg_building_bak

/sg_scene/copy_to_builder/pngs
/sg_scene/copy_to_builder/script/pack_png/json
/sg_scene/copy_to_builder/script/pack_png/png
/sg_scene/copy_to_builder/script/png2pvr/json
/sg_scene/copy_to_builder/script/png2pvr/pvr
/sg_scene/copy_to_builder/script/png2pkm/pkm
/sg_scene/copy_to_builder/script/collect/texpack_json
/sg_scene/copy_to_builder/script/collect/texpack_tex

/cocres_decode/output
/cloud_import/data
/mac_share_file
/editor_bin/ui2.ori.lua
/editor_bin/arnan_*
/editor_bin/build_loading
/editor_bin/build_loading_p91
/editor_bin/build_loading_mmzb
/editor_bin/build_loading_mmzb_android
/editor_bin/build_loading_efun
/editor_bin/ui_output/*.epp
/editor_bin/ui_output/*.epd
/editor_bin/ui_output/*.ep
/editor_bin/ui_output/ui2.lua

/pentagon_import/pt_char.lua
/pentagon_import/pt_hero.lua

# temporary
/tools-src/depends/src

/sg_ui_script/resize_png/target
/sg_ui_script/resize_png/output

/particles/
coceditor/.svn
coceditor/platform/msvc2008/coceditor
coceditor/platform/msvc2008/cocextract
coceditor/platform/msvc2008/cocextrude
coceditor/platform/msvc2008/cocpackage
coceditor/platform/msvc2008/imagebool
coceditor/platform/msvc2008/libcoco
ejoy2d
all/Debug
all/Release
drag2d/.git
drag2d/.gitignore
drag2d/LICENSE
drag2d/README.md
drag2d/platform/msvc2008/libbox2d
drag2d/platform/msvc2008/libdrag2d
easyscale9/.svn
easyscale9/.gitignore
easyscale9/platform/msvc2008/easyscale9
easyscale9/platform/msvc2008/libscale9
easyanim/.git
easyanim/.gitignore
easyanim/platform/msvc2008/easyanim
easyanim/platform/msvc2008/easyanimation
easyanim/platform/msvc2008/libanim
easybuilder/.git
easybuilder/platform/msvc2008/easybuilder
easybuilder/platform/msvc2008/libbuilder
easycomplex/.svn
easycomplex/platform/msvc2008/easycomplex
easycomplex/platform/msvc2008/libcomplex
easymodeling/.git
easymodeling/platform/msvc2008/easymodeling
easymodeling/platform/msvc2008/libmodeling
easyparticle/.git
easyparticle/.svn
easyparticle2d/platform/msvc2008/easyparticle2d
easyparticle2d/platform/msvc2008/libparticle2d
easyparticle3d/platform/msvc2008/easyparticle3d
easyparticle3d/platform/msvc2008/libparticle3d
easyshape/.git
easyshape/platform/msvc2008/easyshape
easyshape/platform/msvc2008/easyshape_new
easyshape/platform/msvc2008/libshape
easydb/platform/msvc2008/easydb
easydb/platform/msvc2008/easydb_cl
easydb/platform/msvc2008/glfw
easymesh/platform/msvc2008/easymesh
easymesh/platform/msvc2008/libmesh
easypacker/platform/msvc2008/easypacker
easypacker/platform/msvc2008/libpacker
easyimage/platform/msvc2008/easyimage
easyimage/platform/msvc2008/libimage
formation/platform/msvc2008/formation
raiden/platform/msvc2008/raiden
shootbubble/platform/msvc2008/shootbubble

easy3d/platform/msvc2008/easy3d
easyphysics/platform/msvc2008/easyphysics
easysketch/platform/msvc2008/easysketch
easysketch/platform/msvc2008/libsketch
easyterrain/platform/msvc2008/easyterrain
easyterrain/platform/msvc2008/libterrain

drag2d/src/common/libpng/contrib
libraries/lua-5.2.3/doc
libraries/lua-5.2.3/lua
libraries/lua-5.2.3/Makefile
libraries/lua-5.2.3/README
easydb/src/glfw/glfw.lib
/editor_bin/_tmp_ejoy2d_preview/
easycomplex/platform/msvc2008/projects/_tmp_ejoy2d_preview/
sg/platform/msvc2008/sg
