[submodule "editor-external"]
	path = editor-external
	url = ssh://git@oa.ejoy.com/users/zz/editor-external.git
[submodule "particle/src"]
	path = particle/src
	url = ssh://git@oa.ejoy.com/users/zz/ps.git
[submodule "dtex/src"]
	path = dtex/src
	url = ssh://git@oa.ejoy.com/users/zz/dtex.git
[submodule "gtxt/src/gtxt"]
	path = gtxt/src/gtxt
	url = ssh://tea.ejoy.com:3222/LR/gtxt.git
[submodule "rapidvg/src/rapidvg"]
	path = rapidvg/src/rapidvg
	url = ssh://tea.ejoy.com:3222/LR/RapidVG.git
