*.so
*.o
*~
*.swp
*.pyc
*.user
*.ncb
*.suo
*.idb
*.pdb
*.obj
*.gif
*.html
*.dll
deprecated

/characters_import/characters2*
/scene_import/build
/scene_import/data
/scene_import/script/tpack.py

/background_import/data
/coc_png
/checker/data
/checker/output

/misc_import/data

/sg_building/data
/sg_building/other

/cocres_decode/output
/cloud_import/data
/mac_share_file
/editor_bin/ui2.ori.lua
/editor_bin/arnan_*
/editor_bin/build_loading
/editor_bin/build_loading_p91
/editor_bin/build_loading_mmzb

/pentagon_import/pt_char.lua
/pentagon_import/pt_hero.lua

# temporary
/tools-src/depends/src

/editor_src/coceditor/.svn
/editor_src/coceditor/platform/msvc2008/coceditor
/editor_src/coceditor/platform/msvc2008/cocextrude
/editor_src/coceditor/platform/msvc2008/cocpackage
/editor_src/coceditor/platform/msvc2008/imagebool
/editor_src/drag2d/.git
/editor_src/drag2d/.gitignore
/editor_src/drag2d/LICENSE
/editor_src/drag2d/README.md
/editor_src/drag2d/platform/msvc2008/libbox2d
/editor_src/drag2d/platform/msvc2008/libdrag2d
/editor_src/easy9patch/.svn
/editor_src/easy9patch/.gitignore
/editor_src/easy9patch/platform/msvc2008/easy9patch
/editor_src/easy9patch/platform/msvc2008/lib9patch
/editor_src/easyanim/.git
/editor_src/easyanim/.gitignore
/editor_src/easyanim/platform/msvc2008/easyanim
/editor_src/easyanim/platform/msvc2008/easyanimation
/editor_src/easyanim/platform/msvc2008/libanim
/editor_src/easybuilder/.git
/editor_src/easybuilder/platform/msvc2008/easybuilder
/editor_src/easybuilder/platform/msvc2008/libbuilder
/editor_src/easybuilder/src/easybuilder
/editor_src/easycomplex/.svn
/editor_src/easycomplex/platform/msvc2008/easycomplex
/editor_src/easycomplex/platform/msvc2008/libcomplex
/editor_src/easymodeling/.git
/editor_src/easymodeling/platform/msvc2008/easymodeling
/editor_src/easymodeling/platform/msvc2008/libmodeling
/editor_src/easymodeling/src/easybuilder
/editor_src/easyparticle/.git
/editor_src/easyparticle/.svn
/editor_src/easyparticle/platform/msvc2008/easyparticle
/editor_src/easyshape/.git
/editor_src/easyshape/platform/msvc2008/easyshape
/editor_src/easyshape/platform/msvc2008/libshape
/editor_src/easyshape/src/easyshape
/editor_src/drag2d/src/common/libpng/contrib