*.so
*.o
*~
*.swp
*.pyc
deprecated

/characters_import/characters2*
/scene_import/build
/scene_import/data
/scene_import/script/tpack.py

/background_import/data
/coc_png
/checker/data
/checker/output

/misc_import/data

/sg_building/data
/sg_building/other

/cocres_decode/output
/cloud_import/data
/mac_share_file
/editor_bin/ui2.ori.lua
/editor_bin/arnan_*
/editor_bin/build_loading
/editor_bin/build_loading_p91
/editor_bin/build_loading_mmzb
/editor_bin/ui_output/ui2.ori.lua

/pentagon_import/pt_char.lua
/pentagon_import/pt_hero.lua

# temporary
/tools-src/depends/src
